.app-body {
  width: 80%;
  margin: auto;
}

.app-body .container{
  border: 0.5px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 1px 3px #ddd;
  padding: 5px 15px;
  margin: 0px auto;
  width: 40%;
}


.app-body .flex-container{
  display: flex;
  margin: auto;
  width: 100%;
}

.searchbar-container{
  width: 94.5%;
  margin: 20px auto;
  box-sizing: border-box;
}

.searchbar-container .input-container{
  border: 0.5px solid #ccc;
  border-radius: 5px;
  box-shadow: 1px 1px 4px #ddd;
  margin: auto;
  padding: 5px 7.5px 7px;
}

.searchbar-container .input{
  border: 0;
  width: 95%;
}

.searchbar-container .input:focus{
  outline: none;
}

.searchbar-container .search-icon{
  padding-right: 5px;
  color: #444;
}

.button{
  border: 0;
  border-radius: 5px;
  background-color: rgb(180, 211, 194);
  padding: 5px 15px;
  color: #000;
  margin: 0px 10px;
}

.nominee-container{
  margin: 10px 0px;
  list-style: 1.5;
}