.app-body {
  width: 80%;
  margin: auto;
}

.content-section{
  margin-top: 50px;
  opacity: 0;
  animation: fade-down 0.5s forwards;
}

.content-section .hero-title{
  text-align: center;
}

.app-body .container{
  border: 0.5px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 1px 3px #ddd;
  padding: 5px 15px;
  margin: 0px auto;
  width: 40%;
}

.app-body .flex-container{
  display: flex;
  margin: auto;
  width: 100%;
}

.searchbar-container{
  width: 92.5%;
  margin: 20px auto;
  padding: 0px 20px 20px;
  box-sizing: border-box;
  border: 0.5px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 2px #ddd;
}

.searchbar-container .input-container{
  border: 0.5px solid #ccc;
  border-radius: 5px;
  box-shadow: 1px 0.5px 3px #ddd;
  margin: auto;
  padding: 5px 7.5px 7px;
}

.searchbar-container .input{
  border: 0;
  width: 85%;
}

.searchbar-container .input:focus{
  outline: none;
}

.searchbar-container .search-icon{
  padding-right: 5px;
  color: #444;
}

.button{
  border: 0;
  border-radius: 5px;
  background-color: rgb(62, 179, 218);
  padding: 5px 15px;
  color: #fff;
  margin: 0px 10px;
  cursor: pointer;
  transition: filter 0.5s;
}

.button:hover{
  filter: brightness(95%);
}

.button:disabled{
  opacity: 0.7;
  cursor: default;
  filter: none;
}

.nominee-container{
  margin: 10px 0px;
  line-height: 1.5;
  animation: move-left 0.5s forwards;
  height: max-content;
}

.nominee-container .movie-poster{
  height: 30px;
  min-width: 30px;
  width: auto;
  float: left;
  margin: 0 10px;
  border-radius: 5px;
}

ul{
  padding: 0;
}

ul li{
  list-style: none;
}

.nominations-banner{
  position: fixed;
  border: 0.5px solid #ccc;
  box-shadow: 1px 1px 4px #ddd;
  border-radius: 5px;
  padding: 10px 20px;
  width: max-content;
  top: 10px;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 0;
  animation: fade-down 0.5s forwards;
  display: none;
}

@keyframes fade-down{
  from {opacity: 0; transform: translateY(-100px);}
  to {opacity: 1; transform: translateY(0);}
}

@keyframes move-left {
  from {transform: translateY(30px);}
  to {transform: translateY(0);}
}

@media only screen and (max-width: 720px){
  .app-body .container{
    width: 100%;
    margin: 20px;
  }
  .flex-container{
    
  justify-content: space-between;
  flex-wrap: wrap;
  }
}